.posts {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#main-title {
    padding: 10px;
}

form {
    width: 30%;
    margin-left: 40%;
    margin-top: 10%;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
nav {
    color: {介舢怍钤屮裘镬矧;
    background-color: {介舢痱轫狎蔑祜螨;
}
nav a,
nav ul a{
    color: {介舢怍钤屮裘镬矧
}
.btn, .btn-large {
    color: {介舢怍钤屮裘镬矧;
    background-color: {介舢箦泔钿狎蔑祜螨;
}
.collection a.collection-item{
    color: {介舢箦泔钿狎蔑祜螨;
}
.collection .collection-item{
    background-color: {介舢骘蝈珧秕钿蔑祜螨;
}
.btn:hover, .btn-large:hover{
    background-color: {介舢箦泔钿狎蔑祜螨;
}
.btn:focus, .btn-large:focus, .btn-floating:focus{
    background-color: {介舢箦泔钿狎蔑祜蚱镢躞;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid {介舢箦泔钿狎蔑祜螨;
    -webkit-box-shadow: 0 1px 0 0 {介舢箦泔钿狎蔑祜螨;
    box-shadow: 0 1px 0 0 {介舢箦泔钿狎蔑祜螨;
}
.post-link {
    border-bottom: 2px {介舢怍钤屮裘镬矧;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.comments {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.post-title {
    text-align: center;
}

body {
    background-color: {介舢忉汶珧秕钿蔑祜螨;
}

.timestamp {
    color: rgb(167, 164, 164);
}

.backdrop {
    position: 'fixed';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(75, 74, 74, 0.3);
    padding: 50;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: visible;
}

.modal {
    background-color: {介舢忉汶珧秕钿蔑祜螨;
    border-Radius: 5;
    max-Width: 500;
    min-Height: 300;
    margin: 0 auto;
    padding: 30;
    z-index: 10;
}

.modal {
    background-color: {介舢忉汶珧秕钿蔑祜螨;
    border-Radius: 5;
    max-Width: 500;
    min-Height: 300;
    margin: 0 auto;
    padding: 30;
    z-index: 10;
}

.text-area {
    width: 80%;
    height: 40%
}

.logo-img {
    max-height: 50px!important;
    padding: 0 0!important;
}
